.grid-container {
    display: grid;
    grid-template-areas:
      'menu player';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }



.trackList{
  padding-left: 0;
  margin: 0;
  min-width: 200px;
}

.playingDisplay{
  padding-left: 0;
  margin: 0;
  display: grid;
}

.playerList{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playerList.playerList-top{
  
}

.playerList-top-verticalTextList{
  padding-left: 0;
  display: grid;
  align-content: baseline;
  justify-items: center;
}

.playerList.playerList-middle{
}

.playerList.playerList-bottom{
  
}



.trackListItem {
  list-style-type: none; 
  padding: 5px; 
  margin: 0;
  display: flex;
}

.trackListItem-textItem{
  list-style-type: none; 
  padding: 5px; 
}

.list-image{
  max-width: 60px;
  max-height: 60px;
}

.player-image{
  max-width: 300px;
  max-height: 300px;
}

.playerIcons-small{
  font-size: 30px;
}

.playerIcons-big{
  font-size: 70px;
}

/* Seek slider styling below taken from: https://www.geeksforgeeks.org/create-a-music-player-using-javascript/ */

/* Define the slider width so that it scales properly */
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* Modify the appearance of the slider */
.seek_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
 
/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
 
/* Change the opacity when mouse is hovered */
.seek_slider:hover {
  opacity: 1.0;
}
 
.seek_slider {
  width: 60%;
}
 
.current-time,
.total-duration {
  padding: 10px;
  font-size: small;
}