/*Organizes the app so it's centered and makes the navbar and grid container have the same size.*/

body { 
    display: flex; 
    justify-content: center; 
    align-items:start; 
    height: 100vh; 
    margin: 0; 
  }

